//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 24 12:14:02 2022
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "B4" LEVEL 1;
COMP "B" LOCATE = SITE "K3" LEVEL 1;
COMP "C" LOCATE = SITE "L3" LEVEL 1;
COMP "D" LOCATE = SITE "P11" LEVEL 1;
COMP "F" LOCATE = SITE "M11" LEVEL 1;
COMP "G" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

